body{
    
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle;
}
.container >.panel{
  margin-bottom: 50px;
}
.nav-tabs a {
  color:#4285F4;
}
.fc-center h2{
  font-size: 18px;
  vertical-align: middle;
}